/*
  <div id="lt-wrapper">
    <div class="lt-inner-wrapper">
      <div class="lt-content">
        <div role="button" class="lt-hide-show">Nascondi</div>
      </div>
      <div class="lt-brkpt">&#x2732;</div>
    </div>
  </div>
*/

.lt-wrapper {
  position: fixed;
  z-index: 9999;
  font-family: sans-serif;
  font-size: small;
  color: var(--lt-color);
  background: transparent;
  transition: opacity .3s linear;

  /* default */
  &, &.top-left {
    top: 4px;
    left: 0;
  }
  &.top-right {
    top: 4px;
    right: 0;
    left: auto;
  }
  &.bottom-left {
    top: auto;
    bottom: 4px;
    left: 0;
  }
  &.bottom-right {
    top: auto;
    right: 0;
    bottom: 4px;
    left: auto;
  }

  dl {
    margin: 0;
    dt {
      font-weight: 700;
      border: none;
    }
    dd {
      padding-left: 1rem;
      &:not(:last-child) {
        padding-bottom: .2rem;
        margin-bottom: .4rem;
        border-bottom: 1px dotted var(--lt-color);
      }
    }
  }

  &.lt-collapsed .lt-content {
    display: none;
  }

  &.lt-hidden {
    opacity: 0;

    &:hover {
      opacity: .8;
    }
  }
  .heading {
    font-size: 110%;
    font-weight: 700;
  }
  label {
    color: var(--lt-color);
  }
  button {
    padding: 2px 6px;
    margin-right: 6px;
    color: var(--lt-color);
    cursor: pointer;
    background: var(--lt-bg);
    border: 1px solid var(--lt-color);
    border-radius: 3px;

    &:hover {
      color: var(--lt-bg);
      background: var(--lt-color);
    }
  }
  input[type='checkbox'] {
    margin-right: 6px;
  }

  @media print {
    display: none;
  }
}
.lt-inner-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.lt-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  max-width: 14rem;
  overflow: hidden;
  background: var(--lt-bg);
  border: 1px solid var(--lt-color);
  border-bottom-right-radius: 8px;

  > div {
    width: 100%;
    padding: 6px;

    &:not(:last-child) {
      border-bottom: 2px solid var(--lt-color);
    }
  }
}

.lt-content, .lt-brkpt {
  border-color: var(--lt-color);
  border-style: solid solid solid none;
  border-width: 2px;
}

.lt-content > div,
.lt-brkpt {
  flex: 0 1 auto;
}

.lt-brkpt {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  padding: 1px 6px 1px 3px;
  font-size: small;

  font-weight: 700;
  color: var(--lt-color);
  cursor: pointer;
  background: var(--lt-bg);
  border-radius: 0 1em 1em 0; /* top-left */

  .top-right &, .bottom-right & {
    padding: 1px 4px 1px 6px;
    border-style: solid none solid solid;
    border-radius: 1em 0 0 1em;
  }

  &:hover {
    color: var(--lt-bg);
    background: var(--lt-color);
  }
}
